<section class="simple-section">
  
  <div class="container">
    <div class="header">
      <h1>Features that make a difference.</h1>
      <p>
        We've engineered features that will actually <br />
        make a difference to your business.
      </p>
    </div>  <!-- header end -->

    <div class="content">

      <!-- card -->
      <div class="card">
        <div class="plane-icon"></div>
        <h2>Unified Dashboard</h2>
        <p>
          Access all your analytics and sales metrics in one comprehensive
          dashboard.
        </p>
      </div>

      <!-- card -->
      <div class="card">
        <div class="plane-icon"></div>
        <h2>Unified Dashboard</h2>
        <p>
          Access all your analytics and sales metrics in one comprehensive
          dashboard.
        </p>
      </div>

      <!-- card -->
      <div class="card">
        <div class="plane-icon"></div>
        <h2>Unified Dashboard</h2>
        <p>
          Access all your analytics and sales metrics in one comprehensive
          dashboard.
        </p>
      </div>

      <!-- card -->
      <div class="card">
        <div class="plane-icon"></div>
        <h2>Unified Dashboard</h2>
        <p>
          Access all your analytics and sales metrics in one comprehensive
          dashboard.
        </p>
      </div>

      <!-- card -->
      <div class="card">
        <div class="plane-icon"></div>
        <h2>Unified Dashboard</h2>
        <p>
          Access all your analytics and sales metrics in one comprehensive
          dashboard.
        </p>
      </div>

      <!-- card -->
      <div class="card">
        <div class="plane-icon"></div>
        <h2>Unified Dashboard</h2>
        <p>
          Access all your analytics and sales metrics in one comprehensive
          dashboard.
        </p>
      </div>
    </div> <!-- content end -->

  </div> <!-- container end -->

</section>
